<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}">Default Title</h1>
<form th:object="${form}" method="post">
    <div class="form-group">
        <label th:for="cheeseId"></label>
        <select th:field="*{cheeseId}">
            <input type="hidden" name="menuId" th:value="*{menu.id}" />
            <option th:each="cheese : ${cheeses}"
                    th:value="${cheese.id}"
                    th:text="${cheese.name}"></option>
            </select>
            <span th:errors="${errors}"></span>
            </div>
    <input type="submit" value="Add item" />
    </form>


</body>
</html>